#layout {
	margin:  auto auto;
	width: 800px;
	height: 500px;
}

h1  {
	text-align: center; 

}


p {
	text-align: center;
	font-size: 25px;	
}

#info {
	height: 30px;
	text-align: center;
	font-weight: normal;
	opacity: 0;
	transition: opacity 1s;
}
#debug {
	height: 30px;
	width: 100px;
	text-align: center;
	position: absolute;
	top: 100px;
	left: -130px;
}

#gameArea {
	position: relative;
	width: 500px;
	height: 300px;
	margin: 40px auto;
	cursor:pointer;
}

#v1{
	position: absolute;
	top: 0px;
	width: 150px;
	height: 50px;
	border-style: solid;
	border-right: none;
	border-bottom: none;
	background-color: #EEEEEE;
	border-width: thin;
}

#v2{
	position: absolute;
	top: 0;
	left: 150px;
	width: 200px;
	height: 49px;
	border-style: solid;
	border-left: none;
	border-right: none;
	background-color: #EEEEEE;
	border-width: thin;
}

#v3{
	position: absolute;
	top: 0px;
	left: 350px;
	width: 150px;
	height: 50px;
	border-style: solid;
	border-left: none;
	border-bottom: none;
	background-color: #EEEEEE;
	border-width: thin;
}

#v4{
	position: absolute;
	top: 48px;
	width: 149px;
	height: 150px;
	margin-top: 2px;
	border-style: solid;
	border-top: none;
	background-color: #EEEEEE;
	border-width: thin;
}

#v5{
	position: absolute;
	top: 48px;
	left: 350px;
	width: 149px;
	height: 150px;
	margin-top: 2px;
	border-style: solid;
	border-top: none;
	background-color: #EEEEEE;
	border-width: thin;
}

#v6{
	position: absolute;
	bottom: 0px;
	width: 200px;
	height: 50px;
	border-style: solid;
	border-right: none;
	background-color: #EEEEEE;
	border-width: thin;
}

#v7{
	position: absolute;
	bottom: 0px;
	left: 200px;
	width: 100px;
	height: 50px;
	border-style: solid;
	border-left: none;
	border-right: none;
	border-top: none;
	background-color: #EEEEEE;
	border-width: thin;
}

#v8{
	position: absolute;
	bottom: 0px;
	left: 300px;
	width: 200px;
	height: 50px;
	border-style: solid;
	border-left: none;
	background-color: #EEEEEE;
	border-width: thin;
}

#v9{
	position: absolute;
	bottom: 51px;
	left: 200px;
	width: 99px;
	height: 150px;
	border-style: solid;
	border-bottom: none;
	background-color: #EEEEEE;
	border-width: thin;
}
#passTreat {
	position: absolute;
	bottom: 52px;
	left: 500px;
	width: 50px;
	height: 46px;
	border-width: thin;
	
}
#start {
	position: absolute;
	bottom: 55px;
	left: 0px;
	width: 40px;
	height: 40px;
	border-style: solid;
	background-color: #82FE84;
	border-width: thin;
	font-size: 30px;
	text-align:center
}
#end {
	position: absolute;
	bottom: 55px;
	right: 0px;
	width: 40px;
	height: 40px;
	border-style: solid;
	background-color: #8685F9;
	border-width: thin;
	font-size: 30px;
	text-align:center
}

#intoBottom {
	margin: 20px auto;
	width: 700px;
	height: 280px;

}
#intoBottom p {
	text-align: left;
	font-size: 20px;
}

#example{
	margin: 10px auto; 
	width: 120px;
	height: 40px;
	background-color: #EEEEEE;
	border: 1px solid ;
	
}
